{% extends 'base.html' %}

{% block stylecontent %}
    <style>
       form{
        margin: auto;
        width: 60%;
        border: 3px solid #73AD21;
        padding: 10px;
    }
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 10px solid #f1f1f1; width:300px;   }

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 3px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
    </style>

   <a class="nav-item nav-link" href="{% url 'bankapp:index' %}" id="nav-create">Home Page</a>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

        
{% block bodycontent %}        


    <br>
    
    <form class="container" action="" method="post">
        {% csrf_token %}
        <h2 class="container text-center">Create New Account</h2>
        <section class="form-control">
            <h4>(All details are mandatory)</h4>
            {{ form }}
        </section>



        <br>
        <button  type="submit" class="form-control btn btn-primary" name="submit">
                Register
            </button>



        <a class="nav-item nav-link" href="{% url 'bankapp:signin' %}" id="nav-login">SignIn page</a>

        
    </form>

    <br>
{% endblock %}

{% block scriptcontent %}
    <script>
        $(".active").removeClass("active");
        $("#nav-create").addClass("active");

        $(".helptext").html("");

        var input_text = $("input[type=text]");
        input_text.addClass("form-control");

        var input_pass = $("input[type=password]");
        input_pass.addClass("form-control");

        $("form ul li").addClass("btn btn-danger");

        // var labels = $("label");

        // labels.addClass("col");
        // input_text.addClass("col")
        // input_pass.addClass("col");
    </script>
{% endblock %}