<body>

    {% extends 'base.html' %}

    
    {% block stylecontent %}


    {%endblock%}
     {% load static %}
    {% block bodycontent %}
        <table width=70% height=60%>
            <tr>
                <td>

                    <div id="page_name" style="float:left;">
                        <font color="#3399ff">User Account</font>
                    </div>
                </td>
                <td>
                    <div id="edit_details" style="float:right;">
                        <button type="button" id="edit_button"><a href="{% url 'bankapp:dashboard' %}">Home</a></button>
                    </div>
                </td>
            </tr>



            <tr>
                <td>
                    <div id="details_box" align="center">
                        <h4>User Details: </h4>
                        <table id="details_table" cellpadding=5px;>
                            <tr>
                                <td>User Name : {{ customer.customer_data.Name }} </td>
                                <td id="name"></td>
                            </tr>
                            <!--
                            <tr id="accname">
                                <td>Phone no.: {{customer.Name}}</td>
                                <td id="acc_name"></td>
                            </tr>
                            -->


                        </table>
                    </div>
                </td>
<!--                <td>-->
<!--                <form name="dashboard" action="redirect_from_dashboard">-->
<!--                    <input type="hidden" name="function_chosen" id="function_chosen">-->
<!--                    <div id="buttons_box">-->
<!--                        <table id="buttons_table" cellpadding=5px;>-->

<!--                            <tr>-->
<!--                                <td><button id="buttons" class="button" onclick="set_function_chosen('view_accounts')">View Accounts</button></td>-->
<!--                            </tr>-->
<!--                            &lt;!&ndash; tr>-->
<!--                                <td><button id="buttons" onclick="set_function_chosen('money_transfer')"> Money Transfer</button></td>-->
<!--                            </tr &ndash;&gt;-->
<!--                            <tr>-->
<!--                                <td><button  id="buttons" onclick="set_function_chosen('start_ecs')">  Start ECS   </button></td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td><button  id="buttons" onclick="set_function_chosen('withdraw')">   Withdraw   </button></td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td><button  id="buttons" onclick="set_function_chosen('deposit')">   Deposit    </button></td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td><button  id="buttons" onclick="set_function_chosen('stat_gen')">  Statement Generation   </button></td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </form>-->
<!--                </td>-->
            </tr>
        </table>
        
        <script>
        function set_function_chosen(menu_name){
            hidden_field = document.getElementById("function_chosen");
            hidden_field.setAttribute("value", menu_name);
        }
        </script>
    {% endblock%}
</body>
